@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #efefef; }

img {
  display: block;
  max-width: 100%; }

p {
  margin: 0;
  padding: 0; }

#template-section {
  font-family: 'Open Sans', sans-serif; }

.p-heading-bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  color: #000000; }
  .p-heading-bold span {
    color: #00A3CC; }

.theme-p {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #3D5170; }

.template-h-secondary {
  font-size: bolder;
  font-size: 20px;
  line-height: 25px;
  color: #3D5170; }

.block-template-label {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  /* Blue text */
  color: #3D5170; }

.email-footer-text {
  font-size: 14px;
  color: #979797; }

.b-shadow-d {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.mr-b-80 {
  margin-bottom: 80px; }

.mr-b-40 {
  margin-bottom: 40px; }

.mr-b-24 {
  margin-bottom: 24px; }

.mr-b-16 {
  margin-bottom: 16px; }

.mr-b-8 {
  margin-bottom: 8px; }

.template-container-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between; }
  .template-container-box .template-edit-display {
    position: relative;
    width: 60%;
    border-radius: 10px;
    min-height: 500px;
    background: white;
    padding: 20px; }
  .template-container-box .template-block {
    min-height: 500px;
    border-radius: 10px;
    width: 38%;
    background: white;
    padding: 20px;
    padding-top: 0; }
    .template-container-box .template-block .theme-tabs-container .nav-tabs {
      border-bottom: 1px solid #DEE2E6;
      justify-content: space-evenly; }
      .template-container-box .template-block .theme-tabs-container .nav-tabs .nav-link {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: rgba(43, 48, 58, 0.25);
        padding: 20px 0; }
        .template-container-box .template-block .theme-tabs-container .nav-tabs .nav-link:hover {
          border-color: transparent;
          color: #00A3CC; }
        .template-container-box .template-block .theme-tabs-container .nav-tabs .nav-link.active {
          position: relative;
          background: none;
          color: #00A3CC;
          border: none; }
        .template-container-box .template-block .theme-tabs-container .nav-tabs .nav-link.active::before {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          width: 200%;
          transform: translateX(-50%);
          height: 8px;
          background: #00A3CC;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px; }
    .template-container-box .template-block .theme-tabs-container .blocks-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px; }
      .template-container-box .template-block .theme-tabs-container .blocks-container .block-box {
        width: 31%;
        flex-grow: 31%; }
        .template-container-box .template-block .theme-tabs-container .blocks-container .block-box .block-contents {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          border-radius: 10px;
          display: block;
          padding: 15px 10px;
          text-align: center;
          margin: auto;
          width: 130px;
          height: 100%;
          cursor: pointer; }
          .template-container-box .template-block .theme-tabs-container .blocks-container .block-box .block-contents img {
            margin: 8px auto;
            margin-bottom: 16px; }

#template-section {
  min-width: 500px;
  min-height: 500px;
  margin: 50px 80px; }

.template-heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: #3D5170; }

.content-drop-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  border: 2px dashed #00A3CC;
  border-radius: 24px;
  padding: 24px; }
  .content-drop-box img {
    margin: auto;
    margin-bottom: 4px; }

.template-edit-display table {
  width: 100%; }
  .template-edit-display table tr {
    width: 100%; }
    .template-edit-display table tr td {
      width: 100%; }
  .template-edit-display table .block {
    padding: 20px;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    border: 2px solid transparent; }
    .template-edit-display table .block .edit-block {
      background: #00A3CC;
      position: absolute;
      bottom: calc(100% + 1px);
      display: flex;
      padding: 10px 40px;
      gap: 45px;
      border-radius: 20px 20px 0px 0px;
      display: none; }
    .template-edit-display table .block:hover {
      border: 2px solid #00A3CC; }
    .template-edit-display table .block:hover .edit-block {
      display: flex; }

.block-styles .block-style-cont .block-style-form {
  display: flex;
  flex-direction: column; }
  .block-styles .block-style-cont .block-style-form input {
    outline: none;
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    padding: 8px 10px; }
    .block-styles .block-style-cont .block-style-form input:focus, .block-styles .block-style-cont .block-style-form input:focus-visible {
      border: 1px solid #00A3CC; }

.edit-email-template {
  width: 100%;
  background: #FAFAFA;
  border: 1px solid #DEE2E6; }
  .edit-email-template .email-temlate-header {
    background: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(43, 48, 58, 0.05); }
    .edit-email-template .email-temlate-header img {
      width: 300px; }
  .edit-email-template .email-content-contents {
    min-height: 300px; }
  .edit-email-template .email-template-footer {
    min-height: 100px;
    background: #2b303a;
    text-align: center;
    padding: 20px;
    border-top: 7px solid #00A3CC; }
    .edit-email-template .email-template-footer .email-template-footer-social {
      padding: 20px 0;
      display: flex;
      justify-content: center;
      gap: 20px;
      align-items: center; }
      .edit-email-template .email-template-footer .email-template-footer-social img {
        max-width: 20px;
        max-height: 20px; }
    .edit-email-template .email-template-footer .email-template-footer-content {
      padding: 20px;
      padding-top: 0; }
    .edit-email-template .email-template-footer .email-template-divider {
      width: 100%;
      background: #979797;
      height: 1px; }
