// colors 

$theme-primary-color: #00A3CC;
$theme-primary-color-text: #3D5170;

// blacks
$theme-black: #212224;
$theme-black-75: rgba($theme-black,0.75);
$theme-black-50: rgba($theme-black,0.50);
$theme-black-25: rgba($theme-black,0.25);
$theme-black-10: rgba($theme-black,0.10);
$theme-black-5: rgba($theme-black,0.5);

//border
$theme-border: #DEE2E6;