#template-section {
    // border: 2px solid rgb(255, 0, 0);
    min-width: 500px;
    min-height: 500px;
    margin: 50px 80px;
    // margin-left: 200px;
}

.template-heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    color: #3D5170;
}