.b-shadow-d{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

// margin-bottom 

.mr-b-80{
    margin-bottom: 80px;
}
.mr-b-40{
    margin-bottom: 40px;
}
.mr-b-24{
    margin-bottom: 24px;
}
.mr-b-16{
    margin-bottom: 16px;
}
.mr-b-8{
    margin-bottom: 8px;
}

.block-input-single-row{
    display: flex;
    // justify-content: space-between;
    gap:40px;
}

.block-slider{
    max-width: 200px;
}
